.news-list{
}

.news-item{
    width: 100%;
    height: 180px;
    margin-bottom: 40px;

    display: grid;
    grid-template-columns: 1fr 3fr;
    /* border-bottom: 4px solid #80f57a; */

    display: -ms-grid;
   -ms-grid-columns: 1fr 3fr;
}

.news-item{
}

.news-item > .item-img-box{
    width: 100%;
    -ms-grid-column: 1;
}

.news-item > .item-description{
    width: 100%;
    -ms-grid-column: 2;
}

.news-item .item-img-box{
    width: 100%;
    height: 100%;
    background-color: brown;
    overflow: hidden;
    transition: all 0.5s ease;
}

.news-item .news-img{
    transition: all 0.5s ease;
    width: 100%;
    height: 100%;
}

.news-item:hover{
    color: #eb1313;
}


.news-item:hover .news-img{
    width: 100%;
    transform: scale(1.2);
}

.news-item .item-description{
    height: var(--item-description-height);
    padding: 20px;
/*    background-color: cadetblue;*/
    display: block;
}

.news-item .item-description > h3{
    padding-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
}

.news-item .item-description > h5{
    padding-bottom: 10px;
    font-size: 18px;
    font-style: italic;
}

.news-item .item-description > p{
	height: 50px;
	margin: 0;
    font-size: 14px;
    line-height: 180%;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2; /* 라인수 */
	-webkit-box-orient: vertical;
	word-wrap:break-word;
}


@media screen and (max-width: 600px) {
    .news-list{
        display: grid;
        grid-template-columns: minmax(250px, 1fr);
        grid-row-gap: 40px;

        display: -ms-grid;
        -ms-grid-columns : 1fr;
    }

    .news-item {
        height: 100%;
        grid-template-columns: 1fr;
    }

    .news-item > .item-img-box{
        height: 200px;
    }

    .news-item > .item-description{
        height: 100%;
    }

    .project-intro > .intro-container{
        width: 100%;
        height: var(--intro-container-mobile-height);
        margin: 0 auto;
    }

    .intro-description-box{
        width: 100%;
        height: var(--intro-description-mobile-height);
        position: absolute;
        bottom: 0;
    }

    .intro-description-box h3{
        padding: 10px 0;
        font-size: 24px;
        font-weight: bold;
    }

    .intro-description-box > .date{
        font-size: 16px;
        font-style: italic;
    }

    .intro-description-box > .description{
        padding: 10px 0;
        font-size: 14px;
        text-align: left;
        line-height: 180%;
    }

    .project-description h5{
        padding: 10px 0;
        font-size: 32px;
        font-weight: bold;
    }

    .project-description p{
        margin: 10px 0;
        font-size: 14px;
    }
}
