:root {
  --header-height: 70px;
  --container-width: 1000px;
    
  --color-bright-black : #848484;
  --color-dark-black : #141414;
  --color-list-hover : #eb1313;
  --color-list-clicked : #eb1313;
}
