@import url("global.css");

:root{
/*    projects*/
    --project-item-height: 400px;

    --item-img-box-height: 200px;
    --item-description-height: calc(100% - var(--item-img-box-height));

/*    projects-detail*/
    --intro-container-height: 500px;
    --intro-container-mobile-height: 500px;
    --intro-description-height: 240px;
    --intro-description-mobile-height: 180px;
    --intro-description-width: 500px;
}

/*************************************/
/*projects*/
/*************************************/

.project-list{
    display: grid;
    grid-template-columns: repeat( 3, minmax(250px, 1fr) );
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}

.project-list .project-item{
	height: fit-content;
    /* height: var(--project-item-height); */
/*    background-color: burlywood;*/
    border-bottom: 4px solid #80f57a;
    cursor: pointer;
}

.project-list .item-img-box{
    width: 100%;
    height: var(--item-img-box-height);
    background-color: brown;
    overflow: hidden;
    transition: all 0.5s ease;
    border-bottom: 4px solid #f8f594;
}

.project-list .prj-img{
    transition: all 0.5s ease;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.project-item:hover{
    color: var(--color-list-hover);
}


.project-item:hover .prj-img{
    width: 100%;
    transform: scale(1.2);
}

.project-list .item-description{
    padding: 20px;
	height: fit-content;
/*    background-color: cadetblue;*/
    display: block;
	overflow: hidden;
}

.project-list .item-description > h3{
    padding-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
}

.project-list .item-description > h5{
    padding-bottom: 10px;
    font-size: 18px;
}

.project-list .item-description > p{
	height: 100px;
    font-size: 14px;
    line-height: 180%;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2; /* 라인수 */
	-webkit-box-orient: vertical;
	word-wrap:break-word;
}

/*************************************/
/*project_detail*/
/*************************************/

.project-intro{
    width: 100%;
/*    height: 500px;*/
    margin-top: var(--header-height);
    position: relative;
}

.project-intro > .intro-container{
    width: var(--container-width);
    height: var(--intro-container-height);
    margin: 0 auto;
    position: relative;
}

.intro-description-box{
    width: var(--intro-description-width);
    height: fit-content;
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 20px;
    background-color: rgba(255,255,255,1);
}

.intro-description-box h3{
    padding: 10px 0;
    font-size: 32px;
    font-weight: bold;
}

.intro-description-box > .date{
    font-size: 20px;
    font-style: italic;
}

.intro-description-box > .description{
    padding: 10px 0;
    font-size: 16px;
    text-align: left;
    line-height: 180%;
	word-wrap:break-word;
}

.project-description h5{
    padding: 10px 0;
    font-size: 32px;
    font-weight: bold;
}

.project-description p{
    margin: 10px 0
}

@media screen and (max-width: 600px) {
    .project-list{
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 40px;
    }


/*    project-detail*/
    .project-intro > .intro-container{
        width: 100%;
        height: var(--intro-container-mobile-height);
        margin: 0 auto;
    }

    .intro-description-box{
        width: 100%;
        height: var(--intro-description-mobile-height);
        position: absolute;
        bottom: 0;
    }

    .intro-description-box h3{
        padding: 10px 0;
        font-size: 24px;
        font-weight: bold;
    }

    .intro-description-box > .teamName{
        font-size: 16px;
    }

    .intro-description-box > .description{
        padding: 10px 0;
        font-size: 14px;
        text-align: left;
        line-height: 180%;
    }

    .project-description h5{
        padding: 10px 0;
        font-size: 32px;
        font-weight: bold;
    }

    .project-description p{
        margin: 10px 0;
        font-size: 14px;
    }
}
