<!DOCTYPE html>
<html lang="ko">
<head>

    <meta charset="UTF-8">
    <title>YPC Website</title>

    <!--    jquery & reset.css-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">

    <!--    font-awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <!--    custom js & css-->
    <link rel="stylesheet" href="css/layout.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/about.css">
    <link rel="stylesheet" href="css/projects.css">
    <link rel="stylesheet" href="css/news.css">
    <script src="js/main.js"></script>

    <!--    meta-->
    <meta name="viewport" content="width=device-width, user-scalable=no">

</head>

<body>
    <div class="header">
        <div class="logo">
            <a href="./index.html"><img src="img/yp_logo.png" alt="YPC 로고"></a>
        </div>
        <div class="menu-icon">
            <i class="fas fa-bars"></i>
        </div>
        <div class="menu">
            <ul>
                <li><a href="./about.html">About</a></li>
                <li><a href="./projects.html">Projects</a></li>
                <li><a href="./news.html">News</a></li>
                <li><a href="./community.html">Community</a></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="content">
            <div class="intro-view">
                <div class="title">
                    <p class="slogan">
                        슬로건을<br> 여기에
                        <br> 넣어주세요.
                    </p>
                </div>
                <div class="description">
                    <h3>Young Profeesional Connected</h3>
<!--
                    <textarea name="" id="" cols="30" rows="10">YPC는 이런 그룹입니다. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum magni consectetur sed quis cupiditate quos. Cumque delectus quasi dolor ipsum.
                    </textarea>
-->
                                        <p>YPC는 이런 그룹입니다. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum magni consectetur sed quis cupiditate quos. Cumque delectus quasi dolor ipsum.</p>
                </div>
            </div>
            <div class="content-item">
                <h1>PROJECTS</h1>
                <div class="project-list">
                    <div class="project-item">
                        <div class="item-img-box">
                            <div class="prj-img" id="sample_item"></div>
                        </div>
                        <div class="item-description">
                            <h3>PROJECT 이름</h3>
                            <h5>PROJECT 팀</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eni</p>
                        </div>
                    </div>
                    <div class="project-item">
                        <div class="item-img-box">

                        </div>
                        <div class="item-description">
                            <h3>PROJECT 이름</h3>
                            <h5>PROJECT 팀</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eni</p>
                        </div>
                    </div>
                    <div class="project-item">
                        <div class="item-img-box">

                        </div>
                        <div class="item-description">
                            <h3>PROJECT 이름</h3>
                            <h5>PROJECT 팀</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eni</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content-item">
                <h1>news</h1>
                <div class="news-list">
                <ul>
                    <a href="./news_detail.html"><li class="news-item">
                        <div class="item-img-box">
                            <div class="news-img" id="sample_item"></div>
                        </div>
                        <div class="item-description">
                            <h3>NEWS TITLE</h3>
                            <h5>18.05.23</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere vel accusantium rerum, nostrum maxime earum! Pariatur veniam, impedit praesentium, hic, voluptatibus tempore nemo molestiae non sunt corporis, cum neque doloremque.</p>
                        </div>
                    </li></a>
                    <a href="./news_detail.html"><li class="news-item">
                        <div class="item-img-box">
                            <div class="news-img" id="sample_item"></div>
                        </div>
                        <div class="item-description">
                            <h3>NEWS TITLE</h3>
                            <h5>18.05.23</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere vel accusantium rerum, nostrum maxime earum! Pariatur veniam, impedit praesentium, hic, voluptatibus tempore nemo molestiae non sunt corporis, cum neque doloremque.</p>
                        </div>
                    </li></a>
                    <a href="./news_detail.html"><li class="news-item">
                        <div class="item-img-box">
                            <div class="news-img" id="sample_item"></div>
                        </div>
                        <div class="item-description">
                            <h3>NEWS TITLE</h3>
                            <h5>18.05.23</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere vel accusantium rerum, nostrum maxime earum! Pariatur veniam, impedit praesentium, hic, voluptatibus tempore nemo molestiae non sunt corporis, cum neque doloremque.</p>
                        </div>
                    </li></a>
                </ul>
            </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-container">
            <div class="footer-box">
                <h3>Young Professional Connected</h3>
                <p>서울시 ... 주소</p>
                <p>연락처 ...</p>
                <p class="copyright">© 2018 YPC. All rights reserved</p>
            </div>
            <div class="footer-box">
                <ul>
                    <li><a href="./about.html">About</a></li>
                    <li><a href="./projects.html">Projects</a></li>
                    <li><a href="./news.html">News</a></li>
                    <li><a href="./community">Community</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>