{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <!-- <div class="sidebar">
            <ul>
                <li>카테고리 A</li>
                <li>카테고리 B</li>
                <li>카테고리 C</li>
                <li>카테고리 D</li>
            </ul>
        </div> -->
        <div class="content top-sidebar">
            <h1>PROJECTS</h1>
			{% if user.is_authenticated %}
				<ul class="top-menu">
					<li>
						<button type="button" class="btn btn-light"><a href="{% url 'projects:project_new' %}" class=""><i class="fas fa-plus"></i>  추가</a></button>
					</li>
				</ul>
			{% endif %}
			<div class="project-list">
				{% include page_template %}
			</div>
			    <script>$.endlessPaginate({paginateOnScroll: true});</script>

        </div>
    </div>
{% endblock %}
