{% extends 'base.html' %}

{% block content %}
	<div class="container">
		<div class="content">
			<form method='post' enctype="multipart/form-data">
				{% csrf_token %}
			    <div class="form-group">
			        {{ form.title.errors }}
					<label for="title">제목</label>
				    {{ form.title }}
					<small class="form-text text-muted">news의 제목을 입력해주세요.</small>
			    </div>
				<div class="form-group">
			        {{ form.description.errors }}
					<label for="title">설명</label>
				    {{ form.description }}
					<small class="form-text text-muted">news에 대한 간단한 설명을 입력해주세요.</small>
			    </div>
				<div class="form-group">
			        {{ form.text.errors }}
					<label for="title">내용</label>
				    {{ form.text | safe }}
					<small class="form-text text-muted">news 내용을 입력해주세요.</small>
			    </div>
				<div class="form-group">
			        {{ form.cover_image.errors }}
					<label for="title">커버사진</label>
				    {{ form.cover_image }}
					<small class="form-text text-muted">상단에 보여질 커버사진을 올려주세요.</small>
			    </div>
				<div class="form-group">
			        {{ form.attachment.errors }}
					<label for="title">첨부파일</label>
				    {{ form.attachment }}
					<small class="form-text text-muted">첨부파일을 올려주세요.</small>
			    </div>
				<button type="submit" class="btn btn-primary">Save</button>
			</form>
		</div>
	</div>
{% endblock %}
