{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="content">
            <h1>NEWS</h1>
			{% if user.is_authenticated %}
				<ul class="top-menu">
					<li>
						<button type="button" class="btn btn-light"><a href="{% url 'news:news_new' %}" class=""><i class="fas fa-plus"></i>  추가</a></button>
					</li>
				</ul>
			{% endif %}
            <div class="news-list">
                <ul>
					{% for news_item in news %}
                    <a href="{% url 'news:news_detail' pk=news_item.pk %}"><li class="news-item">
                        <div class="item-img-box">
							<div class="prj-img"
								style="background: url({{ news_item.cover_image.url }} ); background-size: cover; background-position: center;"></div>
                        </div>
                        <div class="item-description">
                            <h3>{{ news_item.title }}</h3>
                            <h5>{{ news_item.published_date }}</h5>
                            <p>{{ news_item.description }}</p>
                        </div>
                    </li></a>
					{% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
