{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="content">
            <h1>NEWS</h1>
			{% if user.is_authenticated %}
				<ul class="top-menu">
					<li>
						<button type="button" class="btn btn-light"><a href="{% url 'news:news_new' %}" class=""><i class="fas fa-plus"></i>  추가</a></button>
					</li>
				</ul>
			{% endif %}
            <div class="news-list">
                <ul>
					{% include page_template %}
                </ul>
            </div>
			<script>$.endlessPaginate({paginateOnScroll: true});</script>
        </div>
    </div>
{% endblock %}
